@import helpers/all
@import generated/sprite-svg
@import common
@import layouts
@import main

//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
////////////////	MAIN    //////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
*
	font-size: 14px 
	font-family: sans-serif 
.wrap
	display: flex
	flex-direction: column
	height: 100vh

.container
	max-width: 1000px
	margin: 0 auto
	+r(1020) 
		margin: 0 20px

.call, .btn
	padding: 15px
	display: flex
	flex-direction: row
	justify-contnet: spase-between
	align-items: center
	color: #fff 
	background: #54cfee
	text-decoration: none
	border-radius: 5px
	&__img
		padding-right: 14px
		margin-right: 15px
		position: relative
		.icon
			fill: #fff
			font-size: 24px

//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
////////////////	HEADER  //////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.header
	margin: 15px 20px
	background: linear-gradient(rgba(0, 0, 0, .1) 5%, transparent 15%, transparent 90%, rgba(0, 0, 0, .1) 100%) 
	border-radius: 20px
	 
	.container
		max-width: 100vw
		display: flex
		align-items: center
		justify-content: space-between
		position: relative
		+r(900) 
			flex-direction: column
			margin-right: 0
		
		
.logo
	margin-left: 5px
	+r(900) 
		align-self: center
		transform: translate(-100%, 0)
		position: absolute
		bottom: 0
	+r(650) 
		position: relative 
		margin-top: 10px
		transform: translate(0, 0)
		
	
.menu
	// 900px - menu - down + w100vw or 100%
	flex: 2
	margin: 0 40px
	max-width: 600px
	+r(900) 
		width: 100%
		margin-bottom: 20px
	ul
		+r(650) 
			display: flex
			flex-direction: column
			align-items: center
	
	
	li
		display: inline-block
		padding: 5px
		a
			font-size: 12px
			font-weight: bold 
			// line-height: 20px
			position: relative
			color: #fff 
			margin: 5px
			// margin-left: 20px
			text-decoration: none
			+r(650) 
				min-width: 500px
				
			

.call
	
	+r(900) 
		align-self: center
		transform: translate(15vw, 0)
	+r(650) 
		transform: translate(0, 0)
	
	&__text
		text-align: right
	&__number
		text-align: right
		font-size: 24px
		line-height: 1
	&__phone
		position: relative
		&:after
			height: 100%
			width: 1px
			background: rgba(77, 93, 132, .9)
			content: '' 
			position: absolute
			left: -15px
			top: 0
////////////////////////////////////////////////////////////////////////////////////////
// Animation MENU
////////////////////////////////////////////////////////////////////////////////////////
.menu
	// border: 5px solid teal
	padding: 0
	margin: 0 10px	
	position: relative
	transition: all .6s ease-in-out
	// display: flex

	ul
		display: flex
		justify-content: space-around
		// margin-right: 40px
		// margin-left: 40px
		// align-items: start
		// align-items: flex-start
		// width: 50%
		// background: linear-gradient(rgba(0, 0, 0, .1) 5%,  rgba(0,204,0,.8) 10%, transparent 25%, transparent 65%, rgba(0,204,0,.8) 90%, rgba(0, 0, 0, .1) 100%) 
		
		li
			// &:hover
			a
				background: rgba(77, 93, 132, .9)
				padding: 10px
				color: #000F 
				line-height: 2
				border-radius: 3px
				box-shadow: 0 0 40px rgba(0,204,0,.4)

			a:hover
				animation: bouncing .35s cubic-bezier(.651,.125,.61,.1) .21s infinite alternate both
				transition: all .4s ease-in-out
				margin-top: 100px 
				
				.menu__text
					// color: #000
				svg
					path
						// fill: rgba(0, 0, 0, .3)


.menu__text
	color: #fff 					
	position: relative
	display: inline-block
	padding: 5px
	+r(650) 
		width: 200px
		font-size: 1.3rem
		text-align: center
		

	
// .menu svg
// 	position: absolute
// 	top: 50%
// 	left: 0%
// 	margin-top: 0
// 	margin-bottom: 0
// 	margin-left: 0
// 	margin-right: 0
// 	height: 30px
// 	opacity: 1
// 	transition: all .6s ease-in-out
// 	path
// 		fill: none
// 		transition: all .6s ease-in-out
// 		position: absolute
					 
////////////////////////////////////////////////////////////////////////////////////////
// Animation CALL
////////////////////////////////////////////////////////////////////////////////////////
.call
	// background: none
	max-width: 250px
	&__img
		// background: none 
		
		.icon
			animation: bouncing 0.5s cubic-bezier(.651,.125,.61,.1) .6s infinite alternate both
			border-radius: 50%
			padding: .2em 
			// box-shadow: none
			// fill: #fff
			// background: 
			// position: relative
			// border-radius: 2px
			display: inline-block
			// color: white
			// cursor: pointer
			// font-size: 0.75rem
			// font-weight: 300
			// letter-spacing: 0.2em
			// padding: 1em 2em 1.1em
			position: relative
			// text-decoration: none
			// text-transform: uppercase
			// vertical-align: top
			// margin-top: 50px

@keyframes bouncing
	0% 
  		bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5)
	100%
		bottom: 5px; box-shadow: 0 5px 5px rgba(0,0,0,0.1)

//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
////////////////	HERO    //////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
.hero
	height: 100%
	padding-top: 55px
	position: relative
	&:before
		content: '' 
		height: 20px
		width: 100%
		position: relative
		background: teal
	+r(650) 
		&:before
			content: '' 
			position: absolute
			bottom: 0
			top: 0
			height: 100%
			width: 100%
			background: rgba(0,0,0, .8) 
			
	
			
	.container
		max-width: 700px
		margin: 0 auto

			

			
	&__title
		text-align: center
		font-size: 45px
		color: #282f37
		line-height: 1.4
		margin-bottom: 40px
		font-weight: bold 
		padding: 10px

		+r(700) 
			font-size: 3em
			margin-bottom: 20px
		
	&__btns
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		width: 100%
		position: relative
		+r(650) 
			flex-direction: column
			align-items: start
			margin-bottom: 50px
		
	&__or
		color: rgba(0,0,0, .75)
		text-transform: uppercase
		font-weight: bold
		font-size: 2em 
		+r(650) 
			text-align: center
			width: 100%
			margin: 15px auto
		

.btn
	+r(650) 
		align-self: start
	
	// width: 45%
	// line-height: 1 ---if we don't have .basicBox
	&__text
		font-size: 22px
		font-weight: bold 
	&__img
		&:after
			height: 100%
			width: 1px
			background: #fff
			content: '' 
			position: absolute
			right: 0
			top: 0
		
	 
.btn-left
	border-radius: 0
	background: rgba(0, 204, 00, .8)
	&:hover
		background: #4274D3 
		box-shadow: 0 0 3px #000
.btn-right
	background: #fff
	color: #666666 
.btn-right.btn
	.icon
		fill: #666666
	.btn__img:after
		background: #666666
		
////////////////////////////////////////////////////////////////////////////////////////
// Animation BUTTON HERO
////////////////////////////////////////////////////////////////////////////////////////
.hero__btns
	position: relative
	
.basicBox
	// width: 45%
	line-height: 1
	position: relative
	background: #fff
	margin: 125px auto
	+r(650) 
		margin: 0 auto
			

	
	.ramka, .ramka-left
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		// z-index: 9999
		// width: 100%
		fill: none
		position: absolute
		width: 100%
		height: 100%
		// opacity: 0
		stroke: transparent;
		stroke-width: 3;
		rect
			stroke-dasharray: 400, 0
			transition: all .8s ease-in-out
		// &:hover
		// 	stroke: #4274D3

	&:hover
		background: #4274D3 
		transition: all .8s ease-in-out
		box-shadow: 0 0 20px #000
		
		.ramka

			rect
				stroke-width: 5
				stroke-dasharray: 35, 245
				stroke-dashoffset: 38
				transition: all .8s ease-in-out

.ramka-left
	&:hover
		stroke: #fff
.ramka-right
	&:hover
		stroke: #4274D3

.btn
	&__text
		margin-left: 10px 
	&__img
		position: relative
		.icon
			font-size: 30px
	.rocket
		.icon		
		
		
