---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="wrap">
	<!-- begin header -->
	<header class="header">
		<div class="container">
			<div class="logo"><img src="img/logo.png" alt=""/></div>
			<nav class="menu">
				<ul>
					<li>
						<a href="#">
							<div class="menu__text">
								Home
							</div> 

						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu__text">
								Blog
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu__text">
								Contact
							</div>

						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu__text">
								About Us
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="menu__text">
								Become an Affiliate
							</div>
						</a>
					</li>
				</ul>
			</nav>
			<a href="#" class="call">
				<div class="call__img">
					{{mixins.icon('phone')}}
				</div>
				<div class="call__phone">
					<div class="call__text">Let's talk:</div>
					<div class="call__number">(866)-501-1144</div>
				</div>
			</a>
		</div>
	</header>
	<!-- end header -->
	<!-- begin hero -->
	<section class="hero" style="background: #e3e3e3 url(img/bg.jpg) 50% 100% no-repeat;">
		<div class="container">
			<div class="hero__title">HIRE BETTER PEOPLE FASTER AT 1/3 OF THE COST</div>
			<div class="hero__btns">
				<div class="basicBox">
					<a href="#" class="btn btn-left">
						<div class="btn__img rocket">
							{{mixins.icon('rocket')}}
						</div>
						<div class="btn__text">Get started now</div>
					</a>
					<svg class="ramka ramka-left" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
							<rect x='0' y='0' fill='none' width='100%' height='100%'/>
					</svg>
				</div>
				<div class="hero__or">or</div>
				<div class="basicBox">
					<a href="#" class="btn btn-right">
						<div class="btn__img">
							{{mixins.icon('play')}}
						</div>
						<div class="btn__text">Watch how we do it</div>
					</a>
					<svg class="ramka ramka-right" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
							<rect x='0' y='0' fill='none' width='100%' height='100%'/>
					</svg>
				</div>
			</div>
		</div>
	</section>
	<!-- end hero -->
</div>
{% endblock %}
